<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
    <div x-data="initData()">
        <h2>All Orders</h2>
        <hr/>
        <div class="pb-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <template x-for="order in orders">
                    <tr>
                        <td><a x-bind:href="'/orders/'+order.orderNumber" x-text="order.orderNumber">OrderNumber</a></td>
                        <td x-text="order.status">status</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script src="/js/orders.js"></script>
</div>
</body>
</html>
